/* Base styles (apply to all screen sizes) */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Helps manage padding and borders inside the element's total width and height */
}

/* Desktop screens */
@media screen and (max-width: 1400px){
    #profile{
        height: 83vh;
        margin-bottom: 6rem; /* Ensure this does not conflict with other styles */
    }
    .about-containers{
        flex-wrap: wrap;
    }
}

/* Tablets and smaller desktops */
@media screen and (max-width: 1200px){
    #desktop-nav{
        display: none;
    }
    #hamburger-nav{
        display: flex;
    }
    #experience, .experience-details-container{
        margin-top: 2rem;
    }
    #profile, .section-container{
        display: block;
    }
    .arrow{
        display: none;
    }
    section, .section-container{
        height: fit-content;
    }
    section{
        margin: 0 5%; /* Check if this margin is causing issues at different breakpoints */
    }
    .section_pic_container{
        width: auto;
        height: auto;
        margin: 0 auto 2rem; /* Centralizes and adds margin below */
    }
    .about-containers{
        margin-top: 0;
    }
}

/* Mobile phones */
@media screen and (max-width: 600px){
    #contact, footer{
        height: 83vh;
    }    
    #profile{
        height: 83vh;
        margin-bottom: 0; /* Removes bottom margin */
    }
    article{
        font-size: 1rem;
    }
    footer nav{
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-containers, .contact-info-upper-container, .btn-container{
        flex-wrap: wrap;
    }
    .contact-info-container{
        margin: 0; /* Resets margin */
    }
    .contact-info-container p, .nav-links li a{
        font-size: 1rem;
    }
    .experience-sub-title{
        font-size: 1.25rem;
    }
    .logo{
        font-size: 1.5rem;
    }
    .nav-links{
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section_pic_container{
        width: auto;
        height: 46vw; /* Adjusts based on width */
        justify-content: center;
    }
    .section_text_p2{
        font-size: 1.25rem;
    }
    .title{
        font-size: 2rem;
    }
    .text-container{
        text-align: justify;
    }
}
